
body {
    font-family: Arial, sans-serif;
    background: #2b2b2b;
    color: #d3c6b8;
    margin: 0;
    padding: 0;
}

/* Контейнер */
.container_enter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #a08674;
    margin-bottom: 10px;
}

/* Меню */
.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #d3c6b8;
    margin: 4px 0;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px;
    background: #3a3a3a;
    border: 1px solid #a08674;
    padding: 10px;
    border-radius: 5px;
}

.menu a {
    display: block;
    text-decoration: none;
    color: #d3c6b8;
    padding: 5px 0;
}

.menu a:hover {
    color: #a08674;
}

.NameMenu {
    display: none;
    position: absolute;
    right: 20px;
    top: 50px;
    background: #3a3a3a;
    border: 1px solid #a08674;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.NameMenu a {
    display: block;
    text-decoration: none;
    color: #d3c6b8;
    padding: 5px 0;
}

.NameMenu a:hover {
    color: #a08674;
    text-decoration: underline;
}

.aNameMenu:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Центральный блок */
.middle {
    text-align: center;
    flex-grow: 1;
}

h1 {
    font-size: 28px;
    margin: 0;
}

/* Правая часть */
.right {
    display: flex;
    align-items: center;
}

#acc_name {
    margin-right: 15px;
    font-size: 18px;
}

/* Кнопки */
.butt {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

#login_button {
    background: #ff9800;
    color: white;
}

#login_button:hover {
    background: #e68900;
}

#logout_button {
    background: #2196F3;
    color: white;
}

#logout_button:hover {
    background: #0b7dda;
}


.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Равномерное распределение */
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    height: 300px; /* Фиксированная высота */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-image {
    width: 100%;  /* Ширина подстраивается под карточку */
    height: 150px; /* Фиксированная высота */
    object-fit: contain; /* Уменьшает изображение, не обрезая его */
    border-radius: 5px;
    background-color: #f9f9f9; /* Фон для прозрачных изображений */
}


.product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Размещаем элементы внизу */
    flex-grow: 1; /* Растягиваем, чтобы кнопка всегда была внизу */
}

.product-name {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.buy-btn {
    background-color: #a08674;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.product-description {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.product-price {
    font-size: 18px;
    color: #28a745;
    font-weight: bold;
    margin-top: 10px;
}

.buy-btn:hover {
    background-color: #7a613f;
}

.product-search {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.product-search-name {
    text-align: center;
    font-size: 16px;
    border: 2px solid #a08674;
    border-radius: 8px;
    background-color: #2e2e2e;
    color: #f1e9e0;
    outline: none;
    width: 30%;
    transition: 0.3s;
}

.product-search-name::placeholder {
    color: #aaa;
}

.product-search-name:focus {
    border-color: #d3c6b8;
    background-color: #3a3a3a;
}

.filter-button{
    font-size: 16px;
    background-color: #a08674;
    color: #1e1e1e;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #c4b199;
}

.filter-window {
    display: none;
    position: fixed;
    top: 25%;   
    left: 43%;
    transform: translate(-50%, -30%);
    background-color: #2e2e2e;
    border: 2px solid #a08674;
    padding: 20px;
    border-radius: 12px;
    z-index: 999;
    color: #f1e9e0;
    width: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.filter-window h3 {
    margin-top: 0;
    color: #d3c6b8;
}

.filter-window label {
    display: block;
    margin: 5px 0;
    cursor: pointer;
}

.filter-window button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #a08674;
    color: #1e1e1e;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.filter-window button:hover {
    background-color: #c4b199;
}


.filter-window p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #e5d1b8; /* бежевый акцент */
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    letter-spacing: 0.5px;
}

.filter-window-conteiner {
    display: flex;
    gap: 15px;
}