p {
    color: #555;
}

.butt:hover {
    background-color: #016b86;
}

.add_discipline {
    width: 30px;  /* Делаем ширину и высоту одинаковыми */
    height: 30px;
    background-color: #3498db;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 50%; /* Это делает кнопку круглой */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.add_discipline:hover {
    background-color: #2980b9;
}

.container_discipline {
    display:block; /* Располагаем элементы в строку */
    gap: 10px; /* Расстояние между элементами */
    margin-bottom: 20px;
}

.container_discipline {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.disciplineBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

button.add_discipline, button.remove_discipline {
    padding: 5px 10px;
    cursor: pointer;
}

input[type="text"] {
    padding: 5px;
    width: 200px;
}

/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4CAF50, #2E8B57);
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Контейнер */
.container_enter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Меню */
.burger-menu {
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    border-radius: 2px;
}

.menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 20px;
    background: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 8px 0;
}

.menu a:hover {
    text-decoration: underline;
}

/* Центральный блок */
.middle {
    text-align: center;
    flex-grow: 1;
}

h1 {
    font-size: 28px;
    margin: 0;
}

/* Правая часть */
.right {
    display: flex;
    align-items: center;
}

#acc_name {
    margin-right: 15px;
    font-size: 18px;
}

/* Кнопки */
.butt {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

#login_button {
    background: #ff9800;
    color: white;
}

#login_button:hover {
    background: #e68900;
}

#logout_button {
    background: #2196F3;
    color: white;
}

#logout_button:hover {
    background: #0b7dda;
}
