* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4CAF50, #2E8B57);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    text-align: left; }

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    color: #555;
    font-size: 18px;
}

.profile-item span {
    font-weight: bold;
    color: #222;
}

#userBalance {
    font-size: 24px;
    color: #28a745;
    margin-left: auto; 
}

